<!DOCTYPE html>
<html lang="pt-br">

<%- include('partials/head.ejs') %> 

<body>
  
  <h1><%= title %> </h1>
  
  <%- include('partials/navbar.ejs') %> 

  <hr>

  <ul>
    <% customers.forEach(customer => { %>
     <li>
       <%= customer.name %> - <%= customer.age %> anos - <%= customer.email %>
       <a href="/edit?id=<%= customer._id %> ">[editar]</a> 
       <a href="/remove/<%= customer._id %> ">[remover]</a> 
     </li>
    <% }) %>
  </ul>

  <%- include('partials/foot.ejs') %> 
  
</body>
</html>